@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/inter/400.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mintcream: #effffa;
  --color-aliceblue: #e5ecf4;
  --color-periwinkle: #c3bef7;
  --color-slateblue: #8a4fff;
  --color-purewhite: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-out forwards;
}

.footer-text {
  @apply text-sm text-gray-500 dark:text-gray-400;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: var(--color-mintcream);
}

body {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
  touch-action: pan-y;
}

main {
  min-height: 100vh;
  overflow: hidden;
}
